.comment-card {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
}

.comment-card__content {
    flex-grow: 1;
    max-width: 398px;
}

.comment-card__name-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: #fff5f5;
}

.comment-card__name-text__name {
    width: fit-content;
    font-weight: bold;
    font-size: 0.8em;
    color: var(--color-tertiary);
}

.comment-card__name-text p {
    margin: 0 0 5px 0;
}

.comment-card__create-time,
.comment-card__modify-time {
    margin: 0;
    padding-left: 10px;
    font-size: 0.7em;
}

.comment-card__like {
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 5px 0 10px 0;
}

.comment-card__like__like-button {
    display: flex;
    align-items: center;
    margin: 0 10px 0 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: bold;
    color: var(--color-tertiary);
}
.comment-card__like__like-button.liked {
    color: black;
}

.comment-card__like span {
    font-size: 0.7em;
    font-weight: bold;
}

.comment-card__like__like-icon {
    height: 20px;
    width: 20px;
    margin: 0 10px 0 0;
}

.comment-card__actions {
    position: relative;
}

.comment-card__menu_opener {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    margin: 5px 10px 0 10px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.comment-card__menu_opener:hover,
.comment-card__menu_opener:focus {
    background-color: var(--color-secondary);
}

.comment-card__actions-menu {
    position: absolute;
    left: 10px;
    z-index: 10;
    padding: 5px 0;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--color-tertiary);
}

.comment-card__modify-button,
.comment-card__delete-button {
    margin: 5px 10px;
    padding: 0;
    display: inline;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.comment-card__modify-button:hover,
.comment-card__delete-button:hover {
    color: var(--color-primary);
}

.deleteCommentDialog {
    position: fixed;
    border-radius: 15px;
    border: 3px solid var(--color-tertiary);
}

.deleteCommentDialog p {
    margin-top: 0px;
}

.deleteCommentDialog__button-div {
    display: flex;
    justify-content: space-around;
}

.deleteCommentDialog__button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-secondary);
    cursor: pointer;
}

.deleteCommentDialog__button:hover {
    background-color: var(--color-primary);
    color: white;
}
