.content-writing__background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.75);
}

.content-writing__interface {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 600px;
    height: 80%;
    max-height: 400px;
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
}

.content-writing__top-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-tertiary);
}

.content-writing__close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    margin: 5px 5px 0 0;
    border-radius: 10px;
    cursor: pointer;
}

.content-writing__close-button:hover {
    filter: var(--color-primary-svg);
}

.content-writing__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#text {
    flex-grow: 1;
    margin-top: 5px;
    border: none;
    resize: none;
}

#text:focus-visible {
    outline: none;
}

.content-writing__bottom-bar {
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.content-writing__image-upload-button {
    height: 30px;
    width: 30px;
    filter: var(--color-tertiary-svg);
    cursor: pointer;
}

#post-image-upload {
    display: none;
}

.content-writing__submit-button {
    height: 30px;
    flex-grow: 1;
    font-size: 1.4em;
    color: white;
    background-color: var(--color-tertiary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
