header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--color-tertiary);
}

header a {
    display: flex;
}

header img {
    width: 200px;
}

.header-links {
    display: flex;
}

.header-links li {
    list-style: none;
    color: black;
}

.active-link {
    font-weight: bold;
    background-color: var(--color-secondary);
}

.active-link:visited {
    color: var(--color-tertiary);
}

.logout-button {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline;
    background-color: transparent;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: var(--color-primary);
}
