header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--color-tertiary);
    background-color: white;
}

header a {
    display: flex;
}

.header-logo {
    width: 200px;
}

.header-links {
    padding-left: 0;
    display: flex;
    gap: 20px;
}

.header-links li {
    list-style: none;
}

.header-links a {
    color: black;
}

.active-link {
    font-weight: bold;
    background-color: var(--color-secondary);
}

.active-link:visited {
    color: var(--color-tertiary);
}

.post-writing__button {
    display: inline-flex;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.post-writing__icon {
    width: 25px;
    filter: var(--color-tertiary-svg);
}

.post-writing__button p {
    margin: 0;
}

.post-writing__button input {
    border-radius: 15px;
    border: 1px solid var(--color-tertiary);
}

.logout-button {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline;
    background-color: transparent;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: var(--color-primary);
}
