.login-card {
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 15px;
    color: white;
    background-color: var(--color-tertiary);
    border: 1px solid var(--color-tertiary);
}

.login-card form {
    display: flex;
    flex-direction: column;
}

.login-card span {
    color: var(--color-secondary);
}

.login-card input {
    border: none;
}

.login-card form p {
    margin-top: 0;
    font-size: 0.8em;
}

.login-card form button {
    margin: 30px 0;
    font-size: 1.4em;
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
    border: 1px solid var(--color-secondary);
    cursor: pointer;
}

.custom-message {
    margin: 0 auto;
    max-width: 500px;
}
