.post-card {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 530px;
    margin-bottom: 30px;
}

.post-card__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--color-tertiary);
    border-radius: 10px;
    background-color: white;
}

.post-card__name-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding-left: 10px;
}

.post-card__name-text__name-edit {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post-card__name-text__name {
    font-weight: bold;
    font-size: 0.8em;
    color: var(--color-tertiary);
}

.post-card__name-text p {
    margin: 0 0 5px 0;
}

.post-card__name-text__edit-menu {
    margin: 0 10px 0 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-card__name-text__edit-menu img {
    height: 100%;
    width: 100%;
    filter: invert(33%) sepia(7%) saturate(1381%) hue-rotate(195deg)
        brightness(92%) contrast(91%);
}

.post-card__create-time,
.post-card__modify-time {
    margin: 0;
    padding-left: 10px;
    font-size: 0.7em;
}

.post-card_picture {
    height: 250px;
    margin-bottom: 5px;
    object-fit: cover;
}

.post-card__like-comment {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px 0;
    border-top: 1px solid var(--color-tertiary);
    border-bottom: 1px solid var(--color-tertiary);
}

.post-card__like-comment__like-button,
.post-card__like-comment__comment-button {
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.post-card__like-comment__comment-button {
    margin-left: 50px;
}

.post-card__like-comment__like-icon,
.post-card__like-comment__comment-icon {
    height: 20px;
    width: 20px;
    margin: 0 10px 0 0;
}

.liked {
    filter: invert(88%) sepia(2%) saturate(3213%) hue-rotate(313deg)
        brightness(93%) contrast(124%);
}

.post-card__comments {
    margin: 0 30px;
}

#deletePostDialog {
    border-radius: 15px;
    border: 3px solid var(--color-tertiary);
}

#deletePostDialog p {
    margin-top: 0px;
}

.deletePostDialog__button-div {
    display: flex;
    justify-content: space-around;
}

.deletePostDialog__button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-secondary);
    cursor: pointer;
}

.deletePostDialog__button:hover {
    background-color: var(--color-primary);
    color: white;
}

.delete-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.delete-button-container:hover {
    background-color: var(--color-secondary);
}

.delete-button {
    height: 20px;
    width: 20px;
}
