.signup-login-wrapper {
    padding-top: 100px;
}

.link-button {
    margin: 0;
    padding: 0;
    display: inline;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}

.signup-login-message {
    margin: 0 auto;
    max-width: 500px;
}
